<div >
    <mat-tab-group>
        
        <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
            <div class="tab-content">
                <div *ngFor="let track of tab.tracks" class="video-container">
                    <iframe 
                        class="video" 
                        [src]="track.url" 
                        title="{{track.name}}" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin">
                    </iframe>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>